<div class="homeContainer">
  <div class="first-section container">
    <div class="centered">
      <h1>REMOTE COMPOSER</h1>
      <h3>An open source composition platform, for composers who want to colaborate.</h3>
      <button ui-sref="ideas" ng-show="main.user" class="headerSearch__submit submit sc-ir" type="submit">Ideas</button>

      <button ng-hide="main.user" ui-sref="login" class="loginHome">Login</button>
      <button ng-hide="main.user" ui-sref="register" class="loginHome">Sign Up</button>
    </div>
  </div>
  <div class="fourth-section container">
    <div class="row">
      <div class="col-md-6 col-s-12">
        <div class="tile">
          <h2>Problem</h2>
          <p>A composer may often come up with a short phrase or 'idea' and not develop it. They may throw it away or forget about it due to lack of interest, inspiration or time. Maybe they won't even record the 'idea'. The potential of that 'idea', is then no more.</p>
        </div>
      </div>
      <div class="col-md-6 col-s-12">
        <div class="tile">
          <h2>Solution</h2>
          <p>To solve this problem we decided to create a platform for composers to upload their unfinished ideas, with the intention of other composers being able to contibute to that 'idea' and result in a colaborative composition.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="third-section">
    <div class="centered">
      <h3>How it works...</h3>
    </div>
  </div>

  <div class="second-section container">
    <div class="row">
      <div class="col-md-3 col-s-12">
        <div class="tile">
          <img class="explphoto" src="http://i.imgur.com/dFLsuOG.jpg" title="source: imgur.com">
          <p>James is a composer, he uploads an 'idea'. (e.g Piano Motif - 30 seconds)</p>
        </div>
      </div>
      <div class="col-md-3 col-s-12">
        <div class="tile">
          <img class="explphoto" src="http://i.imgur.com/IGRAHI4.jpg" title="source: imgur.com">
          <p>Another composer Lauren listens to James idea and feels inspired.</p>
        </div>
      </div>
      <div class="col-md-3 col-s-12">
        <div class="tile">
          <img class="explphoto" src="http://i.imgur.com/kNI7JYn.jpg" title="source: imgur.com">
          <p>Lauren adds an 'addition' (another single instrument track - e.g violin) to the 'idea'.</p>
        </div>
      </div>
      <div class="col-md-3 col-s-12">
        <div class="tile">
          <img class="explphoto" src="http://i.imgur.com/2PUF8cS.jpg" title="source: imgur.com">
          <p>The process continues resulting in a beautiful and collabrative composition.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="fifth-section"><br><br><br><br><br><br><br><h3 class"projectquote">Ideas are best created together</h3></div>

  <div class="sixth-section">
    <footer>
      <div class="centered">
        <p>Made by</p>
        <p><a href="https://github.com/jgburton" target="_blank">Jamie</a>
        <svg aria-hidden="true" class="octicon octicon-mark-github" height="22" version="1.1" viewBox="0 0 16 16" width="32">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
          </path>
        </svg>
        <a href="https://github.com/richardssinclair"target="_blank">Richard</a></p>
        <p class="footer-text">RemoteComposer is a registered trademark of Team RichJam.</p>

      </div>
    </footer>
  </div>
</div>














<!-- <div class="homeContainer">

<div class="first-section">
<br>
<h1>REMOTE COMPOSER</h1>
<h3>An open source composition platform, for composers who want to colaborate.</h3>

<button ui-sref="ideas" ng-show="main.user" class="headerSearch__submit submit sc-ir" type="submit">Ideas</button>

<div class="hi">
<button ng-hide="main.user" ui-sref="login" class="loginHome">Login</button>
<button ng-hide="main.user" ui-sref="register" class="loginHome">Sign Up</button>
</div>

<div class="row2">
<div class="col1"><img class="explphoto" src="http://i.imgur.com/dFLsuOG.jpg" title="source: imgur.com" /><p>  James is a composer, he uploads an 'idea'. (e.g Piano Motif - 30 seconds)</p></div>

<div class="col1"><img class="explphoto" src="http://i.imgur.com/IGRAHI4.jpg" title="source: imgur.com" /><p>Another composer Lauren listens to James idea and feels inspired.</p></div>

<div class="col1"><img class="explphoto" src="http://i.imgur.com/kNI7JYn.jpg" title="source: imgur.com" /><p>Lauren adds an 'addition' (another single instrument track - e.g violin) to the 'idea'.</p></div>

<div class="col1"><img class="explphoto" src="http://i.imgur.com/2PUF8cS.jpg" title="source: imgur.com" />
<p>The process continues resulting in a beautiful and collabrative composition.</p></div>
</div>
</div>

</div>

<div class="row3">
<div class="col2"><p>A composer may often come up with a short phrase or 'idea' and not develop it. They may throw it away or forget about it due to lack of interest, inspiration or time. Maybe they won't even record the 'idea'. The potential of that 'idea', is then no more.</p></div>

<div class="col2"><p>To solve this problem we decided to create a platform for composers to upload their unfinished ideas, with the intention of other composers being able to contibute to that 'idea' and result in a colaborative composition.</p></div>
</div>

<footer class="footer">
<p class="footer-text">RemoteComposer is a registered trademark of Team RichJam.<br>
Made with &hearts; at GA
</p>
</footer> -->
