<div class="homeContainer">

  <div class="first-section">
    <br>
    <h1>REMOTE COMPOSER</h1>
    <h3>An open source composition platform, for composers who want to colaborate.</h3>

  <button ui-sref="ideas"ng-show="main.user" class="headerSearch__submit submit sc-ir" type="submit">Ideas</button>

<div class="hi">
  <button ng-hide="main.user" ui-sref="login" class="loginHome">Login</button>
  <button ng-hide="main.user" ui-sref="register" class="loginHome">Sign Up</button>
</div>

<div class="explaining">
  <p>A composer may often come up with a short phrase or 'idea' and not develop it. They may throw it away or forget about it due to lack of interest, inspiration or time. Maybe they won't even record the 'idea'. The potential of that 'idea', is then no more.</p>

  <p>To solve this problem we decided to create a platform for composers to upload their unfinished ideas, with the intention of other composers being able to contibute to that 'idea' and result in a colaborative composition.</p>
</div>

  </div>
  <div class="row2">
    <div class="col1"><img class="explphoto" src="http://i.imgur.com/dFLsuOG.jpg" title="source: imgur.com" /><p>  James is a composer, he uploads an 'idea'. (e.g Piano Motif - 30 seconds)</p></div>

    <div class="col1"><img class="explphoto" src="http://i.imgur.com/IGRAHI4.jpg" title="source: imgur.com" /><p>Another composer Lauren listens to James idea and feels inspired.</p></div>

    <div class="col1"><img class="explphoto" src="http://i.imgur.com/kNI7JYn.jpg" title="source: imgur.com" /><p>Lauren adds an 'addition' (another single instrument track - e.g violin) to the 'idea'.</p></div>

    <div class="col1"><img class="explphoto" src="http://i.imgur.com/2PUF8cS.jpg" title="source: imgur.com" />
    <p>The process continues resulting in a beautiful and collabrative composition.</p></div>
  </div>
</div>


<footer class="footer">
    <p class="footer-text">RemoteComposer is a registered trademark of Team RichJam.<br>
      Made with &hearts; at GA
    </p>
</footer>



<!-- <img src="http://i.imgur.com/2S1F20H.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/AInHnxl.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/eStk6Zm.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/bKx3Smj.jpg" title="source: imgur.com" width="270px;"> -->
