<div class="homeContainer">

  <div class="first-section">
    <br>
    <h1>REMOTE COMPOSER</h1>
    <h3>An open source composition tool for composers, who want to colaborate.</h3>

    <div ng-show="main.user" class="searchBar">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Instument" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <br>
  <!-- <button class="loginHome">Login</button> -->
  </div>

  <!-- <div class="row">
    <div class="col">
      <p>  A composer may often come up with a short phrase or idea and not develop it. They may throw it away or forget about it due to lack of interest, inspiration or time. Maybe they won't even record the idea. The potential of that idea, is then no more.</p>
    </div>
    <div class="col">
      <p>To solve this problem we decided to create a platform for composers to upload their unfinished ideas, with the intention of other composers being able to contibute to that idea and result in a colaborative composition.</p>
    </div>
  </div> -->

  <div class="row2">
    <div class="col1">
    <p>  James is a composer, he uploads an 'idea'. (e.g Piano Motif - 30 seconds)</p></div>

    <div class="col1">
    <p>Another composer Lauren listens to James idea and feels inspired.</p></div>

    <div class="col1">
    <p>Lauren adds an 'addition' (another single instrument track - e.g violin) to the 'idea'.</p></div>

    <div class="col1">
    <p>The process continues resulting in a beautiful and collabrative composition.</p></div>
  </div>
</div>


<footer class="footer">
    <p class="footer-text">RemoteComposer is a registered trademark of Team RichJam.<br>
      Made with &hearts; at GA
    </p>
</footer>



<!-- <img src="http://i.imgur.com/2S1F20H.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/AInHnxl.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/eStk6Zm.jpg" title="source: imgur.com" width="270px;">
<img src="http://i.imgur.com/bKx3Smj.jpg" title="source: imgur.com" width="270px;"> -->
