
<!DOCTYPE html>
<html ng-app="angularAuthentication">
<head>
  <meta charset="utf-8">
  <base href="/" />
  <title>RemoteComposer</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">RemoteComposer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

        

            <li ng-show="main.user">
              <p ui-sref="userShow({id: main.user._id})" class="navbar-text">Welcome {{ main.user.username }}</p>
            </li>



            <li ng-hide="main.user">
              <a ui-sref="register" ng-click="main.toggleRegister()"><span>Register</span></a>
            </li>
            <li ng-hide="main.user">
              <a ui-sref="login" ng-click="main.toggleLogin()">Login</a>
            </li>
            <!-- <li ng-show="main.user">
              <a ui-sref="usersIndex">Users</a>
            </li> -->
            <li ng-show="main.user">
              <a ui-sref="ideas">Ideas</a>
            </li>
            <li ng-show="main.user">
              <a ng-click="main.logout()">Logout</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <main ui-view></main>

  <!-- <input ng-show="main.user" type="filepicker" data-fp-apikey="Au0FfUuSTvihNwvzZV0Q3z"
  onchange="alert(event.fpfile.url)"> -->

  <!-- <footer class="footer">
    <p class="footer-text">RemoteComposer is a registered trademark of Team RichJam.<br>
      Made with &hearts; at GA
    </p>
  </footer> -->
</body>
</html>
